<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.focus.base.mapper.basic.BaseResourceMapper" >
  <resultMap id="BaseResultMap" type="com.focus.base.domain.basic.BaseResource" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="TINYINT" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="PID" property="pid" jdbcType="VARCHAR" />
    <result column="PATH" property="path" jdbcType="VARCHAR" />
    <result column="SORT" property="sort" jdbcType="TINYINT" />
    <result column="DES" property="des" jdbcType="VARCHAR" />
    <result column="MENU_ROUTE" property="menuRoute" jdbcType="VARCHAR" />
    <result column="CREAT_USER" property="creatUser" jdbcType="VARCHAR" />
    <result column="CREAT_DATE" property="creatDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from base_resource
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.focus.base.domain.basic.BaseResource" >
    insert into base_resource (ID, NAME, TYPE, 
      CODE, PID, PATH, SORT, 
      DES, MENU_ROUTE, CREAT_USER, 
      CREAT_DATE, UPDATE_USER, UPDATE_DATE
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{code,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{sort,jdbcType=TINYINT}, 
      #{des,jdbcType=VARCHAR}, #{menuRoute,jdbcType=VARCHAR}, #{creatUser,jdbcType=VARCHAR}, 
      #{creatDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.focus.base.domain.basic.BaseResource" >
    update base_resource
    set NAME = #{name,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=TINYINT},
      CODE = #{code,jdbcType=VARCHAR},
      PID = #{pid,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=TINYINT},
      DES = #{des,jdbcType=VARCHAR},
      MENU_ROUTE = #{menuRoute,jdbcType=VARCHAR},
      CREAT_USER = #{creatUser,jdbcType=VARCHAR},
      CREAT_DATE = #{creatDate,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ID, NAME, TYPE, CODE, PID, PATH, SORT, DES, MENU_ROUTE, CREAT_USER, CREAT_DATE, 
    UPDATE_USER, UPDATE_DATE
    from base_resource
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, NAME, TYPE, CODE, PID, PATH, SORT, DES, MENU_ROUTE, CREAT_USER, CREAT_DATE, 
    UPDATE_USER, UPDATE_DATE
    from base_resource
  </select>
</mapper>